@media screen and (min-width: 1280px) {
  html {
    width: 100%;
  }
}
html,
body {
  /* margin: 0; */
  background: rgba(207, 179, 113, 0.099);
  font-family: arial, sans-serif;
  min-width: 900px;
}

/* * {
  box-sizing: border-box;
} */

*{
  margin: 0;
  padding: 0;
}

header {
  background-color: #ddeeaa;
  height: 100px;
  line-height: 25px;
  font-size: 14px;
}

.nav-left {
  position: relative;
  float: left;
  width: auto;
  display: inline-block;
}

.nav-right {
  position: relative;
  float: right;
  width: auto;
  display: inline-block;
}

.nav-fill {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}
.asd {
  display: flex;
  margin-top: 20px;
}
#nav-logo {
  padding: 18px 18px 10px 55px;
  position: relative;
  width: 302px;
}

#nav-logo .nav-logo-link {
  background: transparent url("../images/logo1x.png") no-repeat top left;
  background-size: 190px;
  width: 200px;
  height: 52px;
  display: block;
}

#nav-logo .nav-logo-tagline {
  color: #48a3c6;
  position: absolute;
  top: 31px;
  left: 93px;
  font-size: 11px;
  line-height: 11px;
  font-family: arial, sans-serif;
  font-weight: 700;
}

#nav-logo .nav-logo-tagline:hover {
  color: #ffffff;
}


/* 検索バー全体のheightを変えれる */
#nav-search {
  position: relative;
  display: block;
  overflow: hidden;
  /* 検索バーとの幅 */
  top: 15px;
  padding-right: 35px;
  border: none;
}
#nav-search input {
  width: 100%;
}
#nav-search .nav-left {
  height: 35px;
  background-color: #f3f3f3;
  border-radius: 14px 0 0 14px;
  border: 1px solid #e4e4e4;
  /* border: none; */
  overflow: hidden;
}

#nav-search .nav-left:hover {
  background-color: #dadada;
  border-left-color: #dadada;
  border-top-color: #dadada;
  border-bottom-color: #dadada;
}

#nav-search .nav-search-label {
  color: #777;
  display: block;
  font-size: 12px;
  line-height: 33px;
  margin-right: 15px;
  margin-left: 21px;
}

/* 検索バーから下のheight */
#nav-search .nav-left i {
  top: 10px;
  right: 0px;
  color: #a0a0a0;
  font-size: 11px;
}

#nav-search select {
  /* position: absolute; */
  left: 0px;
  top: 0px;
  opacity: 0;
  height: 35px;
  display: block;
  outline: none;
  cursor: pointer;
}

#nav-search .nav-fill {
  height: 35px;
  overflow: hidden;
}

#nav-search .nav-fill input {
  border: none;
  height: 35px;
  position: relative;
  padding: 15px 370px 15px 10px;
  /* 検索バーの領域 */
  width: 1000px;
  font-size: 15px;
  color: #111;
  outline: none;
}

#nav-search .nav-right {
  background-color: #aacc55;
  width: 45px;
  height: 35px;
  border-radius: 0 14px 14px 0;
}

#nav-search .nav-right:hover {
  background-color: #c6f33f;
}

#nav-search .nav-right i {
  position: absolute;
  top: 5px;
  right: 13px;
  color: #333;
  font-size: 22px;
  opacity: 0.9;
}

#nav-search .nav-right input {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  text-indent: -1000px;
}

/* 虫眼鏡 */
.svg-inline--fa{
  vertical-align: -0.5em;
}

#nav-main {
  margin-top: 10px;
}
#nav-main ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 18px 0 0 0;
}

#nav-main li {
  display: inline-block;
  padding: 10px 9px 0 0;
}

#nav-main a {
  color: #555;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

#nav-main .nav-a {
  padding: 7px 20px;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#nav-main .nav-a:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/* #nav-main .nav-a:hover {
  opacity: 0.5;
  transition: 0.2s;
} */

#nav-main .nav-a span {
  display: block;
  width: 10px;
  height: 40px;
  margin: auto;
  font-weight: 300;
  color: #ccc;
  font-size: 12px;
}

#nav-main i.fa-caret-down {
  color: #ccc;
  font-size: 11px;
  padding-left: 3px;
}

#nav-main .nav-left {
  height: 55px;
}

#nav-main .nav-left .nav-shop {
  float: left;
  width: 192px;
  padding: 4px 12px 0 15px;
}

#nav-main .nav-left .nav-shop a {
  margin-top: 16px;
}

#nav-main .nav-fill a {
  font-weight: 500;
  color: #fff;
}

#nav-main .nav-fill a:hover {
  text-decoration: underline;
}

#nav-main .nav-right {
  padding-right: 0px;
  right: 21px;
  margin-top: 15px;
}

#nav-main .nav-right a {
  margin-top: -30px;
}

#nav-main .nav-right .cart {
  background: transparent url(../images/cart.png) no-repeat 3px 12px;
  background-size: 40px;
  padding: 5px 20px 7px 50px;
}

#nav-main .nav-right .cart span {
  color: #aacc55;
  margin-left: -29px;
  /* margin-top: 29px; */
  font-size: 14px;
  font-weight: 700;
  height: 10px;
}

/* #nav-main .cart span {
  margin-top: 30px;
  height: 11px;
} */

#products .footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #e7e7e7;
  width: 90%;
  padding: 17px 0 17px;
  font-size: 13px;
  color: #555;
}

footer a {
  color: #fff;
}

footer .top {
  background: #ddeeaa;
}

footer .top a {
  padding: 17px;
  width: 100%;
  display: inline-block;
}

footer .top a:hover {
  color: #fff;
  text-decoration: none;
}

footer .top:hover {
  background: #aacc55;
}

footer .center {
  margin: 0 auto;
  max-width: 1080px;
}

footer ul {
  margin: 30px 40px 30px 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

footer .middle {
  background: #ddeeaa;
}

footer .middle h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
}

footer .middle li {
  position: relative;
  list-style: none;
}

footer .middle .logo {
  background: transparent url("../img/logo1.png") no-repeat 0 0;
  background-size: 0px;
  width: 0;
  height: 0px;
  display: block;
  border: none !important;
  margin-right: 60px;
  position: absolute;
  top: -14px;
  left: -120px;
}

footer .middle a {
  color: #ddd;
  font-size: 13px;
  display: block;
  padding: 5px 0;
}

footer ul.copy {
  display: inline-block;
  width: 100%;
}

footer ul.copy li {
  display: inline-block;
  margin-right: 20px;
  color: #999;
  font-size: 11px;
}

footer .middle .copy {
  border-top: 1px solid #3a4553;
  padding: 30px 20px 20px 20px;
}

footer .middle .copy a {
  padding: 10px 30px 10px 10px;
  color: #ccc;
  border: 1px solid #848688;
  border-radius: 3px;
}

footer .middle .copy a:hover {
  text-decoration: none;
  border-color: #8d9096;
}

footer .middle .fa-globe {
  margin-right: 5px;
}

footer .middle .flag-icon-us {
  background-image: url("https://sp-bootstrap.global.ssl.fastly.net/8.0.0/images/flags/us.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1em;
  width: 1.33333333em;
  margin-right: 7px;
  background-position: 0 2px;
}

footer .bottom {
  background: #131a22;
}

footer .bottom ul {
  margin-right: 0;
}

footer .bottom li {
  margin-bottom: 15px;
}

footer .bottom a {
  color: #ddd;
  font-size: 11px;
  line-height: 11px;
}

footer .bottom a span {
  color: #999;
  font-size: 10px;
}

.a-template {
  height: 1000px;
}


